@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #010f24;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #010f24;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

*{
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}



::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background: #142d55; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1e3a8a; 
}